@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  /*火狐下隐藏滚动条  测试后不管用*/
  overflow: -moz-scrollbars-none;
  /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
  -ms-overflow-style: none;
}

/*火狐下隐藏滚动条 */
.address-map {
  scrollbar-width: none;
  /* overflow: -moz-scrollbars-none; */
}

.address-map::-webkit-scrollbar {
  display: none;
}

.address-map {
  -ms-overflow-style: none;
}

@font-face{
  font-family: 'didot'; 
  src:url('../font/Didot-Bold-1.ttf') format('ttf'),
      url('../font/Didot-Italic-2.ttf') format('ttf'),
}

a {
  text-decoration: underline;
  color: #b2002a; }
  a:hover {
    text-decoration: underline;
    color: #7600a2; }

.imgov:hover {
  opacity: .5;
  -webkit-opacity: .5;
  -moz-opacity: .5;
  filter: alpha(opacity=50);
  /* IE lt 8 */
  -ms-filter: "alpha(opacity=50)";
  /* IE 8 */ }

.imgov {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.txaL {
  text-align: left; }

.txaR {
  text-align: right; }

.txaC {
  text-align: center; }

.flL {
  float: left; }

.flR {
  float: right; }

.clearfix {
  min-height: 1px; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    line-height: 0;
    overflow: hidden;
    font-size: 0.1em; }

* html .clearfix {
  height: 1px;
  /*¥*/
     /*/
height: auto;
overflow: hidden;
/**/ }

/*--opacity:hover--*/
.ov:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  opacity: 0.80; }

/*--margin--*/
.mg0 {
  margin: 0px !important; }

.mg5 {
  margin: 5px !important; }

.mg10 {
  margin: 10px !important; }

.mg15 {
  margin: 15px !important; }

.mg20 {
  margin: 20px !important; }

.mg25 {
  margin: 25px !important; }

.mg30 {
  margin: 30px !important; }

.mg35 {
  margin: 35px !important; }

.mg40 {
  margin: 40px !important; }

.mg45 {
  margin: 45px !important; }

.mg50 {
  margin: 50px !important; }

.mg55 {
  margin: 55px !important; }

.mg60 {
  margin: 60px !important; }

.mg65 {
  margin: 65px !important; }

.mg70 {
  margin: 70px !important; }

.mg75 {
  margin: 75px !important; }

.mg80 {
  margin: 80px !important; }

.mg85 {
  margin: 85px !important; }

.mg90 {
  margin: 90px !important; }

.mg95 {
  margin: 95px !important; }

.mg100 {
  margin: 100px !important; }

.mg1p {
  margin: 1% !important; }

.mg2p {
  margin: 2% !important; }

.mg3p {
  margin: 3% !important; }

.mg4p {
  margin: 4% !important; }

.mg5p {
  margin: 5% !important; }

.mg6p {
  margin: 6% !important; }

.mg7p {
  margin: 7% !important; }

.mg8p {
  margin: 8% !important; }

.mg9p {
  margin: 9% !important; }

.mg10p {
  margin: 10% !important; }

/*--marginTop--*/
.mgT0 {
  margin-top: 0px !important; }

.mgT5 {
  margin-top: 5px !important; }

.mgT10 {
  margin-top: 10px !important; }

.mgT15 {
  margin-top: 15px !important; }

.mgT20 {
  margin-top: 20px !important; }

.mgT25 {
  margin-top: 25px !important; }

.mgT30 {
  margin-top: 30px !important; }

.mgT35 {
  margin-top: 35px !important; }

.mgT40 {
  margin-top: 40px !important; }

.mgT45 {
  margin-top: 45px !important; }

.mgT50 {
  margin-top: 50px !important; }

.mgT55 {
  margin-top: 55px !important; }

.mgT60 {
  margin-top: 60px !important; }

.mgT65 {
  margin-top: 65px !important; }

.mgT70 {
  margin-top: 70px !important; }

.mgT75 {
  margin-top: 75px !important; }

.mgT80 {
  margin-top: 80px !important; }

.mgT85 {
  margin-top: 85px !important; }

.mgT90 {
  margin-top: 90px !important; }

.mgT95 {
  margin-top: 95px !important; }

.mgT100 {
  margin-top: 100px !important; }

.mgT1p {
  margin-top: 1% !important; }

.mgT2p {
  margin-top: 2% !important; }

.mgT3p {
  margin-top: 3% !important; }

.mgT4p {
  margin-top: 4% !important; }

.mgT5p {
  margin-top: 5% !important; }

.mgT6p {
  margin-top: 6% !important; }

.mgT7p {
  margin-top: 7% !important; }

.mgT8p {
  margin-top: 8% !important; }

.mgT9p {
  margin-top: 9% !important; }

.mgT10p {
  margin-top: 10% !important; }

/*--marginRight--*/
.mgR0 {
  margin-right: 0px !important; }

.mgR5 {
  margin-right: 5px !important; }

.mgR10 {
  margin-right: 10px !important; }

.mgR15 {
  margin-right: 15px !important; }

.mgR20 {
  margin-right: 20px !important; }

.mgR25 {
  margin-right: 25px !important; }

.mgR30 {
  margin-right: 30px !important; }

.mgR35 {
  margin-right: 35px !important; }

.mgR40 {
  margin-right: 40px !important; }

.mgR45 {
  margin-right: 45px !important; }

.mgR50 {
  margin-right: 50px !important; }

.mgR55 {
  margin-right: 55px !important; }

.mgR60 {
  margin-right: 60px !important; }

.mgR65 {
  margin-right: 65px !important; }

.mgR70 {
  margin-right: 70px !important; }

.mgR75 {
  margin-right: 75px !important; }

.mgR80 {
  margin-right: 80px !important; }

.mgR85 {
  margin-right: 85px !important; }

.mgR90 {
  margin-right: 90px !important; }

.mgR95 {
  margin-right: 95px !important; }

.mgR100 {
  margin-right: 100px !important; }

.mgR1p {
  margin-right: 1% !important; }

.mgR2p {
  margin-right: 2% !important; }

.mgR3p {
  margin-right: 3% !important; }

.mgR4p {
  margin-right: 4% !important; }

.mgR5p {
  margin-right: 5% !important; }

.mgR6p {
  margin-right: 6% !important; }

.mgR7p {
  margin-right: 7% !important; }

.mgR8p {
  margin-right: 8% !important; }

.mgR9p {
  margin-right: 9% !important; }

.mgR10p {
  margin-right: 10% !important; }

/*--marginBottom--*/
.mgB0 {
  margin-bottom: 0px !important; }

.mgB5 {
  margin-bottom: 5px !important; }

.mgB10 {
  margin-bottom: 10px !important; }

.mgB15 {
  margin-bottom: 15px !important; }

.mgB20 {
  margin-bottom: 20px !important; }

.mgB25 {
  margin-bottom: 25px !important; }

.mgB30 {
  margin-bottom: 30px !important; }

.mgB35 {
  margin-bottom: 35px !important; }

.mgB40 {
  margin-bottom: 40px !important; }

.mgB45 {
  margin-bottom: 45px !important; }

.mgB50 {
  margin-bottom: 50px !important; }

.mgB55 {
  margin-bottom: 55px !important; }

.mgB60 {
  margin-bottom: 60px !important; }

.mgB65 {
  margin-bottom: 65px !important; }

.mgB70 {
  margin-bottom: 70px !important; }

.mgB75 {
  margin-bottom: 75px !important; }

.mgB80 {
  margin-bottom: 80px !important; }

.mgB85 {
  margin-bottom: 85px !important; }

.mgB90 {
  margin-bottom: 90px !important; }

.mgB95 {
  margin-bottom: 95px !important; }

.mgB100 {
  margin-bottom: 100px !important; }

.mgB1p {
  margin-bottom: 1% !important; }

.mgB2p {
  margin-bottom: 2% !important; }

.mgB3p {
  margin-bottom: 3% !important; }

.mgB4p {
  margin-bottom: 4% !important; }

.mgB5p {
  margin-bottom: 5% !important; }

.mgB6p {
  margin-bottom: 6% !important; }

.mgB7p {
  margin-bottom: 7% !important; }

.mgB8p {
  margin-bottom: 8% !important; }

.mgB9p {
  margin-bottom: 9% !important; }

.mgB10p {
  margin-bottom: 10% !important; }

/*--marginLeft--*/
.mgL0 {
  margin-left: 0px !important; }

.mgL5 {
  margin-left: 5px !important; }

.mgL10 {
  margin-left: 10px !important; }

.mgL15 {
  margin-left: 15px !important; }

.mgL20 {
  margin-left: 20px !important; }

.mgL25 {
  margin-left: 25px !important; }

.mgL30 {
  margin-left: 30px !important; }

.mgL35 {
  margin-left: 35px !important; }

.mgL40 {
  margin-left: 40px !important; }

.mgL45 {
  margin-left: 45px !important; }

.mgL50 {
  margin-left: 50px !important; }

.mgL55 {
  margin-left: 55px !important; }

.mgL60 {
  margin-left: 60px !important; }

.mgL65 {
  margin-left: 65px !important; }

.mgL70 {
  margin-left: 70px !important; }

.mgL75 {
  margin-left: 75px !important; }

.mgL80 {
  margin-left: 80px !important; }

.mgL85 {
  margin-left: 85px !important; }

.mgL90 {
  margin-left: 90px !important; }

.mgL95 {
  margin-left: 95px !important; }

.mgL100 {
  margin-left: 100px !important; }

.mgL1p {
  margin-left: 1% !important; }

.mgL2p {
  margin-left: 2% !important; }

.mgL3p {
  margin-left: 3% !important; }

.mgL4p {
  margin-left: 4% !important; }

.mgL5p {
  margin-left: 5% !important; }

.mgL6p {
  margin-left: 6% !important; }

.mgL7p {
  margin-left: 7% !important; }

.mgL8p {
  margin-left: 8% !important; }

.mgL9p {
  margin-left: 9% !important; }

.mgL10p {
  margin-left: 10% !important; }

/*--paddingTop--*/
.pd0 {
  padding: 0px !important; }

.pd5 {
  padding: 5px !important; }

.pd10 {
  padding: 10px !important; }

.pd15 {
  padding: 15px !important; }

.pd20 {
  padding: 20px !important; }

.pd25 {
  padding: 25px !important; }

.pd30 {
  padding: 30px !important; }

.pd35 {
  padding: 35px !important; }

.pd40 {
  padding: 40px !important; }

.pd45 {
  padding: 45px !important; }

.pd50 {
  padding: 50px !important; }

.pd55 {
  padding: 55px !important; }

.pd60 {
  padding: 60px !important; }

.pd65 {
  padding: 65px !important; }

.pd70 {
  padding: 70px !important; }

.pd75 {
  padding: 75px !important; }

.pd80 {
  padding: 80px !important; }

.pd85 {
  padding: 85px !important; }

.pd90 {
  padding: 90px !important; }

.pd95 {
  padding: 95px !important; }

.pd100 {
  padding: 100px !important; }

.pd1p {
  padding: 1% !important; }

.pd2p {
  padding: 2% !important; }

.pd3p {
  padding: 3% !important; }

.pd4p {
  padding: 4% !important; }

.pd5p {
  padding: 5% !important; }

.pd6p {
  padding: 6% !important; }

.pd7p {
  padding: 7% !important; }

.pd8p {
  padding: 8% !important; }

.pd9p {
  padding: 9% !important; }

.pd10p {
  padding: 10% !important; }

/*--paddingTop--*/
.pdT0 {
  padding-top: 0px !important; }

.pdT5 {
  padding-top: 5px !important; }

.pdT10 {
  padding-top: 10px !important; }

.pdT15 {
  padding-top: 15px !important; }

.pdT20 {
  padding-top: 20px !important; }

.pdT25 {
  padding-top: 25px !important; }

.pdT30 {
  padding-top: 30px !important; }

.pdT35 {
  padding-top: 35px !important; }

.pdT40 {
  padding-top: 40px !important; }

.pdT45 {
  padding-top: 45px !important; }

.pdT50 {
  padding-top: 50px !important; }

.pdT55 {
  padding-top: 55px !important; }

.pdT60 {
  padding-top: 60px !important; }

.pdT65 {
  padding-top: 65px !important; }

.pdT70 {
  padding-top: 70px !important; }

.pdT75 {
  padding-top: 75px !important; }

.pdT80 {
  padding-top: 80px !important; }

.pdT85 {
  padding-top: 85px !important; }

.pdT90 {
  padding-top: 90px !important; }

.pdT95 {
  padding-top: 95px !important; }

.pdT100 {
  padding-top: 100px !important; }

.pdT1p {
  padding-top: 1% !important; }

.pdT2p {
  padding-top: 2% !important; }

.pdT3p {
  padding-top: 3% !important; }

.pdT4p {
  padding-top: 4% !important; }

.pdT5p {
  padding-top: 5% !important; }

.pdT6p {
  padding-top: 6% !important; }

.pdT7p {
  padding-top: 7% !important; }

.pdT8p {
  padding-top: 8% !important; }

.pdT9p {
  padding-top: 9% !important; }

.pdT10p {
  padding-top: 10% !important; }

/*--paddingRight--*/
.pdR0 {
  padding-right: 0px !important; }

.pdR5 {
  padding-right: 5px !important; }

.pdR10 {
  padding-right: 10px !important; }

.pdR15 {
  padding-right: 15px !important; }

.pdR20 {
  padding-right: 20px !important; }

.pdR25 {
  padding-right: 25px !important; }

.pdR30 {
  padding-right: 30px !important; }

.pdR35 {
  padding-right: 35px !important; }

.pdR40 {
  padding-right: 40px !important; }

.pdR45 {
  padding-right: 45px !important; }

.pdR50 {
  padding-right: 50px !important; }

.pdR55 {
  padding-right: 55px !important; }

.pdR60 {
  padding-right: 60px !important; }

.pdR65 {
  padding-right: 65px !important; }

.pdR70 {
  padding-right: 70px !important; }

.pdR75 {
  padding-right: 75px !important; }

.pdR80 {
  padding-right: 80px !important; }

.pdR85 {
  padding-right: 85px !important; }

.pdR90 {
  padding-right: 90px !important; }

.pdR95 {
  padding-right: 95px !important; }

.pdR100 {
  padding-right: 100px !important; }

.pdR1p {
  padding-right: 1% !important; }

.pdR2p {
  padding-right: 2% !important; }

.pdR3p {
  padding-right: 3% !important; }

.pdR4p {
  padding-right: 4% !important; }

.pdR5p {
  padding-right: 5% !important; }

.pdR6p {
  padding-right: 6% !important; }

.pdR7p {
  padding-right: 7% !important; }

.pdR8p {
  padding-right: 8% !important; }

.pdR9p {
  padding-right: 9% !important; }

.pdR10p {
  padding-right: 10% !important; }

/*--paddingBottom--*/
.pdB0 {
  padding-bottom: 0px !important; }

.pdB5 {
  padding-bottom: 5px !important; }

.pdB10 {
  padding-bottom: 10px !important; }

.pdB15 {
  padding-bottom: 15px !important; }

.pdB20 {
  padding-bottom: 20px !important; }

.pdB25 {
  padding-bottom: 25px !important; }

.pdB30 {
  padding-bottom: 30px !important; }

.pdB35 {
  padding-bottom: 35px !important; }

.pdB40 {
  padding-bottom: 40px !important; }

.pdB45 {
  padding-bottom: 45px !important; }

.pdB50 {
  padding-bottom: 50px !important; }

.pdB55 {
  padding-bottom: 55px !important; }

.pdB60 {
  padding-bottom: 60px !important; }

.pdB65 {
  padding-bottom: 65px !important; }

.pdB70 {
  padding-bottom: 70px !important; }

.pdB75 {
  padding-bottom: 75px !important; }

.pdB80 {
  padding-bottom: 80px !important; }

.pdB85 {
  padding-bottom: 85px !important; }

.pdB90 {
  padding-bottom: 90px !important; }

.pdB95 {
  padding-bottom: 95px !important; }

.pdB100 {
  padding-bottom: 100px !important; }

.pdB1p {
  padding-bottom: 1% !important; }

.pdB2p {
  padding-bottom: 2% !important; }

.pdB3p {
  padding-bottom: 3% !important; }

.pdB4p {
  padding-bottom: 4% !important; }

.pdB5p {
  padding-bottom: 5% !important; }

.pdB6p {
  padding-bottom: 6% !important; }

.pdB7p {
  padding-bottom: 7% !important; }

.pdB8p {
  padding-bottom: 8% !important; }

.pdB9p {
  padding-bottom: 9% !important; }

.pdB10p {
  padding-bottom: 10% !important; }

/*--paddingLeft--*/
.pdL0 {
  padding-left: 0px !important; }

.pdL5 {
  padding-left: 5px !important; }

.pdL10 {
  padding-left: 10px !important; }

.pdL15 {
  padding-left: 15px !important; }

.pdL20 {
  padding-left: 20px !important; }

.pdL25 {
  padding-left: 25px !important; }

.pdL30 {
  padding-left: 30px !important; }

.pdL35 {
  padding-left: 35px !important; }

.pdL40 {
  padding-left: 40px !important; }

.pdL45 {
  padding-left: 45px !important; }

.pdL50 {
  padding-left: 50px !important; }

.pdL55 {
  padding-left: 55px !important; }

.pdL60 {
  padding-left: 60px !important; }

.pdL65 {
  padding-left: 65px !important; }

.pdL70 {
  padding-left: 70px !important; }

.pdL75 {
  padding-left: 75px !important; }

.pdL80 {
  padding-left: 80px !important; }

.pdL85 {
  padding-left: 85px !important; }

.pdL90 {
  padding-left: 90px !important; }

.pdL95 {
  padding-left: 95px !important; }

.pdL100 {
  padding-left: 100px !important; }

.pdL1p {
  padding-left: 1% !important; }

.pdL2p {
  padding-left: 2% !important; }

.pdL3p {
  padding-left: 3% !important; }

.pdL4p {
  padding-left: 4% !important; }

.pdL5p {
  padding-left: 5% !important; }

.pdL6p {
  padding-left: 6% !important; }

.pdL7p {
  padding-left: 7% !important; }

.pdL8p {
  padding-left: 8% !important; }

.pdL9p {
  padding-left: 9% !important; }

.pdL10p {
  padding-left: 10% !important; }

/*--pc > 769px--*/
@media screen and (min-width: 961px) {
  .pc {
    display: block; }

  .pcImg {
    display: inline-block; }

  .sp {
    display: none; }

  .spImg {
    display: none; } }
/*--sp < 768px--*/
@media screen and (max-width: 960px) {
  .sp {
    display: block; }

  .spImg {
    display: inline-block; }

  .pc {
    display: none; }

  .pcImg {
    display: none; } }
